EXTERNAL_TODO_API_URL=http://todo-api:3001
EXTERNAL_API_TIMEOUT_MS=5000

#DB
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=nestjs_db
 
#SYNC
SYNC_SOURCE_ID=local-dev
SYNC_DELETE_GRACE_CYCLES=2